<link
  href="https://fonts.googleapis.com/icon?family=Material+Icons"
  rel="stylesheet"
/>

<nav class="navbar">
  <a class="logo" [routerLink]="['/']">Loom</a>
  <div class="nav-links">
    <ng-container *ngFor="let entity of entities">
      <span>></span>
      <a [routerLink]="[entity.url]">{{ entity.name }} </a>
    </ng-container>
  </div>
  <a class="toggle-btn no-select" (click)="toggleTheme()">
    <!--
    <span class="material-symbols-outlined">
    -->
    <span class="material-icons">
      {{ toggleBtnText }}
    </span>
  </a>
</nav>
