.navbar {
  display: flex;
  align-items: center;
  padding: 1rem;
  background: var(--mantle);
  color: var(--text);

  .logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--text);
    text-decoration: none;
    margin-right: 0.5rem;
  }

  .nav-links {
    display: flex;
    gap: 0.5rem;
  }

  :last-child {
    margin-left: auto;
  }

  a {
    color: var(--text);
    cursor: pointer;
  }

  .toggle-btn {
    // i want a round button
    border-radius: 50%;
    text-decoration: none;
    padding: 0.2rem;
    &:hover {
      background-color: var(--surface0);
    }
  }
}
