<!--
<link
  rel="stylesheet"
  href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0&icon_names=light_mode"
  *ngIf="toggleBtnText === 'light_mode'"
/>
<link
  rel="stylesheet"
  href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0&icon_names=dark_mode"
  *ngIf="toggleBtnText === 'dark_mode'"
/>
-->

<!--
  https://developers.google.com/fonts/docs/material_icons#setup_method_1_using_via_google_fonts
-->
<link
  href="https://fonts.googleapis.com/icon?family=Material+Icons"
  rel="stylesheet"
/>

<nav class="navbar">
  <a class="logo" [routerLink]="['/']">Loom</a>
  <div class="nav-links">
    <ng-container *ngFor="let entity of entities">
      <span>></span>
      <a [routerLink]="[entity.url]">{{ entity.name }} </a>
    </ng-container>
  </div>
  <a class="toggle-btn no-select" (click)="toggleTheme()">
    <!--
    <span class="material-symbols-outlined">
    -->
    <span class="material-icons">
      {{ toggleBtnText }}
    </span>
  </a>
</nav>
